{% extends 'base.html' %} 

{% block cssextend %}
<!-- Circliful CSS -->
{% if page_theme == 'dark' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dark.main.css') }}" type="text/css" /> 
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" />
{% endif %}

{% endblock %} 

{% block title %}Pellet Management{% endblock %} 

{% block notify %}

    {% if (alert['type'] == "updated") %}
    <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
    <b><i class="far fa-check-circle"></i>&nbsp; {{ alert['text'] }}</b>
    </div><br>
        {% elif (alert['type'] == "warning") %}
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <b><i class="far fa-exclamation-circle"></i>&nbsp; {{ alert['text'] }}</b>
            </div><br>
        {% elif (alert['type'] == "error") %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <b><i class="fas fa-bomb"></i>&nbsp; {{ alert['text'] }}</b>
            </div><br>
    {% endif %}

{% endblock %}

{% block content %}

    <!-- Top Row -->
    <div class="row">
        <div class="col-lg-8 col-md-9 col-sm-12">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h5><i class="fas fa-tree"></i>&nbsp; Current Load Out</h5>
                </div>

                <div class="card-body text-left">
                    <b>Brand:</b> {{ pelletdb['archive'][pelletdb['current']['pelletid']]['brand'] }} <br> 
                    <b>Wood:</b> {{ pelletdb['archive'][pelletdb['current']['pelletid']]['wood'] }}<br> 
                    <b>Rating:</b> 
                    {% for star in range(pelletdb['archive'][pelletdb['current']['pelletid']]['rating']) %}
                    <i class="fas fa-star text-warning"></i>
                    {% endfor %}
                    <br> 
                    <b>Date Loaded:</b> {{ pelletdb['current']['date_loaded'] }} <br> 
                    <b>Comments:</b> {{ pelletdb['archive'][pelletdb['current']['pelletid']]['comments'] }} <br>
                </div>

                <div class="card-footer">
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#LoadNewModal">
                        Load New Pellets
                    </button>
                    <!-- The Modal -->
                        <div class="modal" id="LoadNewModal">
                            <div class="modal-dialog">
                            <div class="modal-content">

                                <form name="load_profile" action="/pellets/loadprofile" method="POST"> 
                                <!-- Modal Header -->
                                <div class="modal-header">
                                <h4 class="modal-title">Load New Pellets</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Profile</span>
                                        </div>
                                        <select class="form-control" name="load_id" id="load_id">
                                            {% for index, data in pelletdb['archive'].items() %}
                                                <option value="{{ data['id'] }}">{{ data['brand'] }} {{ data['wood'] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-danger" name="load_profile" value="true">Load Profile</button>
                                </div>
                                </form> 
                            </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h5><i class="fas fa-poll-h"></i>&nbsp; Current Pellet Level</h5>
                </div>

                <div class="card-body text-center">
                    <!-- Hopper Level Indicator-->
                    
                    <div class="progress shadow" style="height:30px">
                        <div id="HopperStatus" class="progress-bar progress-bar-striped bg-success" style="width:100%;height:30px">100%</div>
                    </div>

                </div>

                <div class="card-footer text-center">
                    <a href="/pellets/hopperlevel" class="btn btn-outline-primary" role="button">Refresh Status</a>
                </div>
            </div>
        </div>

    </div> <!-- End of first Row-->

	<!-- ============================ Wood Type and Brand Row ========================== -->
    <br>
        <div class="row">
            <!-- Brand Col -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h5><i class="fas fa-edit"></i>&nbsp; Brands</h5>
                    </div>
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <thead class="table-light">
                              <tr>
                                <th>Brand Name</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                <form name="editbrands" action="/pellets/editbrands" method="POST">
                                {% for index in pelletdb['brands']|sort %}
                                <tr>
                                    <td>{{ index }}</td>
                                    <td><button type="submit" class="btn text-danger" data-toggle="tooltip" title="Delete Brand" name="delBrand" value="{{ index }}"><i class="far fa-trash-alt"></i></button></td>
                                </tr>
                                {% endfor %}
                                </form>
                                <form name="editbrands" action="/pellets/editbrands" method="POST">
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" id="newBrand" name="newBrand" placeholder="New Brand Name">
                                    </td>
                                    <td>
                                        <button type="submit" class="btn text-success brandSaveButton" data-toggle="tooltip" title="Save Brand"><i class="far fa-save"></i></button>
                                    </td>
                                </tr>
                                </form>
                            </tbody>
                    </table>
                    
                    </div>
                </div>
            </div> <!-- End of Brand Column -->
            <br>
            <br>

            <!-- Woods Column -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h5><i class="fas fa-edit"></i>&nbsp; Wood Types</h5>
                    </div>
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <thead class="table-light">
                                <tr>
                                <th>Wood Type</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <form name="editwoods" action="/pellets/editwoods" method="POST">
                                {% for index in pelletdb['woods']|sort %}
                                <tr>
                                    <td>{{ index }}</td>
                                    <td><button type="submit" class="btn text-danger" data-toggle="tooltip" title="Delete Wood Type" name="delWood" value="{{ index }}"><i class="far fa-trash-alt"></i></button></td>
                                </tr>
                                {% endfor %}
                                </form>
                                <form name="editwoods" action="/pellets/editwoods" method="POST">
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" id="newWood" name="newWood" placeholder="New Wood Type">
                                    </td>
                                    <td>
                                        <button type="submit" class="btn text-success" data-toggle="tooltip" title="Save Wood Type"><i class="far fa-save"></i></button>
                                    </td>
                                </tr>
                                </form>
                            </tbody>
                    </table>
                    
                    </div>
                </div>
            </div> <!-- End of Woods Column -->

        </div> <!-- End of Brand / Wood Row -->


	<!-- ============================ Create, Update, Delete Pellet Profiles ========================== -->
			<BR>
                <div class="row">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-header bg-primary text-white"><h5><i class="fas fa-edit"></i>&nbsp; Pellet Profiles Editor</h5></div>
                                <div class="card-body">

                                    <!-- Pellet Profile Add -->
                                        <form name="addprofile" action="/pellets/addprofile" method="POST">
                                        <div class="card shadow">
                                            <div class="card-header bg-light text-dark"><h5><a href="#add_profile" data-toggle="collapse"><i class="fas fa-plus-square"></i>&nbsp; Add Profile </a></h5></div>
                                            <div id="add_profile" class="collapse">
                                            <div class="card-body">
                                                    <!-- Brand -->
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Brand Name</span>
                                                        </div>
                                                        <select class="form-control" name="brand_name" id="brand_name">
                                                            {% for brandname in pelletdb['brands']|sort %}
                                                                <option value="{{ brandname }}">{{ brandname }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                    <!-- Wood Type -->
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Wood Type</span>
                                                        </div>
                                                        <select class="form-control" name="wood_type" id="wood_type">
                                                            {% for woodtype in pelletdb['woods']|sort %}
                                                                <option value="{{ woodtype }}">{{ woodtype }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>


                                                    <!-- Rating -->
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Rating</span>
                                                        </div>
                                                        <select class="form-control" name="rating" id="rating">
                                                            <option class="text-warning" value="5" selected>
                                                                &#9733 &#9733 &#9733 &#9733 &#9733
                                                            </option>
                                                            <option class="text-warning" value="4">
                                                                &#9733 &#9733 &#9733 &#9733
                                                            </option>
                                                            <option class="text-warning" value="3">
                                                                &#9733 &#9733 &#9733 
                                                            </option>
                                                            <option class="text-warning" value="2">
                                                                &#9733 &#9733 
                                                            </option>
                                                            <option class="text-warning" value="1">
                                                                &#9733 
                                                            </option>
                                                        </select>
                                                    </div>

                                                    <!-- Comments -->
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                          <span class="input-group-text">Comments</span>
                                                        </div>
                                                        <textarea class="form-control" aria-label="Comments" id="comments" name="comments">Enter comments here.</textarea>
                                                    </div>
                                            </div>
                                            <div class="card-footer bg-light">
                                                    <button type="submit" class="btn btn-primary" name="addprofile" value="add">Add</button>
                                                    <button type="submit" class="btn btn-warning" name="addprofile" value="add_load">Add & Load</button>
                                            </div>
                                        </div>
                                    </div> 
                                </form>
                                <br>

                                <!-- Pellet Profile Form -->
                                    <!-- Pellet Profile List -->
                                    {% for index, data in pelletdb['archive'].items() %}
                                    <form name="editprofile" action="/pellets/editprofile" method="POST">
                                    <div class="card shadow">
                                    <div class="card-header bg-light text-dark"><h5><a href="#edit_{{ index }}" data-toggle="collapse"><i class="far fa-caret-square-down"></i>&nbsp; {{ data['brand'] }} {{ data['wood'] }} </a></h5></div>
                                    <div id="edit_{{ index }}" class="collapse">
                                        <div class="card-body">
                                                <!-- Brand -->
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Brand Name</span>
                                                    </div>
                                                    <select class="form-control" name="brand_name" id="brand_name">
                                                        {% for brandname in pelletdb['brands']|sort %}
                                                            {% if brandname == data['brand'] %}
                                                                <option value="{{ brandname }}" selected>{{ brandname }}</option>
                                                            {% else %}
                                                                <option value="{{ brandname }}">{{ brandname }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <!-- Wood Type -->
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Wood Type</span>
                                                    </div>
                                                    <select class="form-control" name="wood_type" id="wood_type">
                                                        {% for woodtype in pelletdb['woods']|sort %}
                                                            {% if woodtype == data['wood'] %}
                                                                <option value="{{ woodtype }}" selected>{{ woodtype }}</option>
                                                            {% else %}
                                                                <option value="{{ woodtype }}">{{ woodtype }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>


                                                <!-- Rating -->
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Rating</span>
                                                    </div>
                                                    <select class="form-control" name="rating" id="rating">
                                                        <option class="text-warning" value="5" {% if data['rating'] == 5 %}selected{% endif %}>
                                                            &#9733 &#9733 &#9733 &#9733 &#9733
                                                        </option>
                                                        <option class="text-warning" value="4" {% if data['rating'] == 4 %}selected{% endif %}>
                                                            &#9733 &#9733 &#9733 &#9733
                                                        </option>
                                                        <option class="text-warning" value="3" {% if data['rating'] == 3 %}selected{% endif %}>
                                                            &#9733 &#9733 &#9733 
                                                        </option>
                                                        <option class="text-warning" value="2" {% if data['rating'] == 2 %}selected{% endif %}>
                                                            &#9733 &#9733 
                                                        </option>
                                                        <option class="text-warning" value="1" {% if data['rating'] == 1 %}selected{% endif %}>
                                                            &#9733 
                                                        </option>
                                                    </select>
                                                </div>

                                                <!-- Comments -->
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Comments</span>
                                                    </div>
                                                    <textarea class="form-control" aria-label="Comments" id="comments" name="comments">{{ data['comments'] }}</textarea>
                                                </div>
                                        </div>
                                    <div class="card-footer bg-light">
                                            <button type="submit" class="btn btn-primary" name="editprofile" value="{{ index }}">Save</button>
                                            <!-- Button to Open the Modal -->
                                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#DeleteProfileModal{{ index }}">
                                                Delete
                                            </button>
                                            <!-- The Modal -->
                                                <div class="modal" id="DeleteProfileModal{{ index }}">
                                                    <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                        <h4 class="modal-title">Delete Profile {{ data['brand'] }} {{ data['wood'] }}</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>

                                                        <!-- Modal body -->
                                                        <div class="modal-body">
                                                        Are you sure you want to delete the {{ data['brand'] }} {{ data['wood'] }} profile?
                                                        </div>

                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <button type="submit" class="btn btn-danger" name="delete" value="{{ index }}">Delete</button>
                                                        </div>

                                                    </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                </form>
                                <br>
                                {% endfor %}
                            </div>
                    </div> <!-- End of Pellet Editor Card -->
                    </div> <!-- End of Col -->
                </div> <!-- End of Row -->

                                    
    	<!-- ============================ Pellet Log ========================== -->
			<BR>
                <div class="row">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-header bg-primary text-white"><h5><i class="fas fa-history"></i>&nbsp; Pellet Log</h5></div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead class="table-light">
                                          <tr>
                                            <th>Date / Time</th>
                                            <th>Pellets</th>
                                            <th>Rating</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            {% for index, data in pelletdb['log'].items()|sort %}
                                            <tr>
                                                <td>{{ index }}</td>
                                                {% if data == 'deleted' %}
                                                <td>User Deleted Profile</td>
                                                <td>-</td>
                                                {% else %}
                                                <td><a href="#edit_{{ data }}" data-toggle="collapse">{{ pelletdb['archive'][data]['brand'] }} {{ pelletdb['archive'][data]['wood'] }}</a></td>
                                                <td>{% for star in range(pelletdb['archive'][data]['rating']) %}
                                                    <i class="fas fa-star text-warning"></i>
                                                    {% endfor %}
                                                </td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        // Insert 1 second delay
        
        setTimeout(function() {  
            // Get Hopper Level on Page Load
            req = $.ajax({
                url : '/hopperlevel',
                type : 'GET'
            });

            req.done(function(data) {
                // Update Hopper Level
                // Returned Data: 
                // 'data.hopper_level' 

                if (data.hopper_level > 70) { 
                    document.getElementById("HopperStatus").className = "progress-bar progress-bar-striped bg-success";
                } else if (data.hopper_level > 30) {
                    document.getElementById("HopperStatus").className = "progress-bar progress-bar-striped bg-warning";
                } else {
                    document.getElementById("HopperStatus").className = "progress-bar progress-bar-striped bg-danger";
                };

                document.getElementById("HopperStatus").style.width = data.hopper_level + "%";
                document.getElementById("HopperStatus").innerHTML = data.hopper_level + "%";
            });
        }, 1000);

        setInterval(function(){
            // Get Hopper Level
            req = $.ajax({
                url : '/hopperlevel',
                type : 'GET'
            });

            req.done(function(data) {
                // Update Hopper Level
                // Returned Data: 
                // 'data.hopper_level' 

                if (data.hopper_level > 70) { 
                    document.getElementById("HopperStatus").className = "progress-bar progress-bar-striped bg-success";
                } else if (data.hopper_level > 30) {
                    document.getElementById("HopperStatus").className = "progress-bar progress-bar-striped bg-warning";
                } else {
                    document.getElementById("HopperStatus").className = "progress-bar progress-bar-striped bg-danger";
                };

                document.getElementById("HopperStatus").style.width = data.hopper_level + "%";
                document.getElementById("HopperStatus").innerHTML = data.hopper_level + "%";
            });
        }, 60000);

    });
</script>
{% endblock %}